textarea {
  overflow: auto;
  resize: none;
  border: 1px solid #dfdcdc;
}

form.contact-form {
  display: flex;
  margin: 2em 0;
}
.edit-profile-row.contain-contact-form {
  width: 100%;
  margin-bottom: 1em;
}
.contact-ribbon-container {
  width: 40%;
  position: relative;
}
.contact-form-container {
  width: 55%;
}
.contact-ribbon-container img {
  position: absolute;
  top: 10%;
  right: -10%;
  width: 600px;
  z-index: -1;
}
.contact-wrapper {
  max-width: 1280px;
  margin: 5em auto;
}
.contact-header-div1 {
  width: 40%;
}
.contact-header {
  display: flex;
}
.proceed-to-checkout-btn-wrapper.contain-contact {
  justify-content: start;
}
.contact-footer {
  display: flex;
  justify-content: center;
  gap: 2em;
}
.visit-us-at-col img {
  width: 25px;
}

.visit-us-at-container {
  display: flex;
  padding: 1em;
}
.visit-us-at-col {
  padding: 1em;
  gap: 1em;
}

.visit-us-at-col:nth-child(2) {
  display: flex;
  background-color: #f6f6f8;
}
.visit-us-at-col:nth-child(1) {
  background-color: #ebebf0;
}
.visit-us-at-col:nth-child(2) p {
  border-right: 1.7885px solid #d8d7d7;
  padding-right: 1em;
}
@media screen and (max-width: 820px) {
  .proceed-to-checkout-btn-text-container.contain-wishlist {
    display: flex;
    align-items: center;
    color: white;
    justify-content: center;
  }
  .contact-header {
    display: block;
  }
  .contact-wrapper {
    padding: 1em;
  }
  .contact-ribbon-container {
    display: none;
  }
  .contact-form-container {
    width: 100%;
  }
  form.contact-form {
    display: inherit;
    justify-content: center;
  }
  .contact-header {
    text-align: center;
  }
  .visit-us-at-col img {
    width: 15px;
  }
  .visit-us-at-col:nth-child(2) {
    font-size: 15px;
    align-items: center;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .visit-us-at-col:nth-child(2) {
    font-size: 10px;
  }
}

@media screen and (max-width: 1024px) {
  .contact-footer {
    gap: 0;
    flex-direction: column;
  }
}
